<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Sistema Teste</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home" class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Usuários</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li routerLinkActive="active"><a routerLink="/usuarios/novo" class="dropdown-item" >Novo usuário</a></li>
            <li routerLinkActive="active"><a routerLink="/usuarios" class="dropdown-item" >Listar usuários</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li routerLinkActive="active"><a routerLink="/cursos/novo" class="dropdown-item" >Novo curso</a></li>
            <li routerLinkActive="active"><a routerLink="/cursos" class="dropdown-item" >Listar cursos</a></li>
          </ul>
        </li>
      </ul>
      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
